{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
      	<!--Import materialize.css-->
      	<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
      	<link rel="stylesheet" type="text/css" href="{% static 'css/sweetalert.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/icon.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
      	<!--Let browser know website is optimized for mobile-->
      	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    

		{% block title %}
			<title>Remmon</title>
		{% endblock title %}

		{% block css %}
		{% endblock css %}
	</head>

    <body>
		{% block header %}
		{% endblock header %}

		{% block navigation %}
			<div ng-app="remmon">
		{% endblock navigation %}

		{% block content %}
				<div ui-view="">
				Hello
				</div>	
			</div>
		{% endblock content %}
    </body>

	{% block js %}
    	<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/angular.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/angular-ui-router.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/angular-route.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/sweetalert.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/controllers.js' %}"></script>
	{% endblock js %}
</html>